@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');
ion-toolbar{
  --background: var(--blanco);
  .back-icon{
      height: 30px;
      width: 30px;
      margin-bottom: 20px;
      color: var(--azul);
  }
}
.content{
    --background: var(--blanco);
  
  .cardna{
    margin-top: 30px;
    height: 8%;
    width: 40%;     
    --background: var(--azul);
    .nombres{
      margin-left: 11%;
      margin-right: 10px;
      margin-top: 30px;
      font-family: 'Ysabeau Office', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: bold;
      color: var(--MasPlomo);
    }
    ion-text{ 
      margin-left: 11%;
      margin-top: 30px;
      font-family: 'Ysabeau Office', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: bold;
      color: var(--blanco);
    }
  }
  .cardn{    
    margin-left: 230px;
    margin-right: 5px;
    margin-top: 30px;
    height: 8%;
    width: auto;     
    --background: var(--azul);
    ion-text{ 
      margin-right: 30px;
      margin-top: 30px;
      font-family: 'Ysabeau Office', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: bold;
      color: var(--blanco);
    }
  }
  

}
ion-footer {
    --background: transparent;
    --ion-color-base: transparent !important;
    ion-item{
        --background: var(--azul);
        --ion-color-base: transparent !important;
        ion-button{
            ion-icon{
                width: 30px;
                height: 30px;
                color: var(--blanco)
            }
        }
    }

  }