<ion-content class="content" [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="Card-Profile">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title class="Title-card">Recursos</ion-card-title>
          <ion-card-subtitle class="subtitle-card">ver más</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="Card-Content">
          Revisa todos los recursos que son utiles para tí.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="Card-Profile">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title class="Title-card">Horario</ion-card-title>
          <ion-card-subtitle class="subtitle-card">Ver más</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content class="Card-Content">
         Revisa los horarios de Tus Cursos
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="Card-Profile">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title class="Title-card">Asistencias </ion-card-title>
          <ion-card-subtitle class="subtitle-card">Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content class="Card-Content">
         Revisa los porcentajes de asistencias por los Cursos
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="toolbar" >
    <ion-segment scrollable="true" value="nose">      
      <ion-segment-button class="button" value="Contenidos">
        <ion-icon class="icon" name="home-outline"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-segment-button>

      <ion-segment-button class="button" value="Cursos" (click)="IrACursos()">
        <ion-icon class="icon" name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Chat"(click)="IraChat()" >
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-segment-button>

      <ion-segment-button class="button" value="Perfil" (click)="IraPerfil()">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>