@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');
.ion-no-border {
    --background: var(--blanco);
    ion-toolbar{
      --background: var(--blanco);
      .back-icon{
          height: 30px;
          width: 30px;
          margin-bottom: 20px;
          color: var(--azul);
      }
    }
}
.content{
    font-family: 'Ysabeau Office', sans-serif;
    --background: var(--blanco);
    ion-card{
        --background: var(--azul);
        ion-card-header{
          .Title,.sub{
            font-family: 'Ysabeau Office', sans-serif;
            font-weight: bold;
            color: var(--blanco);
          }
        }
    
      }
}