<ion-content class="content" [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" style="color:var(--azul)">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ng-container >
    <ion-card class="Card-Profile" >
      <ion-card-header>
        <ion-card-title class="Title"></ion-card-title>
        <ion-card-subtitle class="sub"></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>