<ion-content [fullscreen]="true" class="fondo">
  <div>
    <ion-text class="top-left-text">
      Inicio de Sesion
    </ion-text>
  </div>
  <div class="content">    
    <ion-input label="Email" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="loginForm.email"></ion-input>
    <ion-input label="Contrasena" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="loginForm.password"></ion-input>
  </div>
  <ion-button class="bottom-button" expand="block" (click)="Entrar()">Entrar</ion-button>
  <ion-text class="text-buton">Olvidaste tu contraseña?</ion-text>
</ion-content>
