@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo{
    --background: var(--blanco);
    background-size: cover;
    ion-toolbar{
      --background: var(--blanco);
      .back-icon{
          height: 30px;
          width: 30px;
          margin-bottom: 20px;
          color: var(--azul);
      }
    }
      ion-text.top-left-text{
        font-family: 'Ysabeau Office', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: bold;
        color: var(--azul);
        padding-left: 10px;
        height:70%;

      }
      .content {
        color: var(--blanco);
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        ion-input{
          font-family: 'Ysabeau Office', sans-serif;
          margin-top:7px;
          font-weight: bold;
          color: var(--azul);
          --highlight-color-valid: var(--azul);
        }
        .bottom-button{
          --background: var(--azul);
          font-family: 'Ysabeau Office', sans-serif;
          font-weight: bold;
          color: var(--blanco);
          margin-top: 30px;
          }
          .text-buton{
          font-family: 'Ysabeau Office', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: var(--azul);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          margin-top: 70px;
          margin-right: 20px;
          margin-left: 85px;
          }
      }
    }
    




