<ion-content class="fondoM">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" style="color:var(--azul)">
        <ion-back-button defaultHref="/perfil-profe"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="div-text">
    <ion-text class="top-left-text">
      Modifica el dato de tu usuario que desees
    </ion-text>
  </div>
  <div class="content">
    <ion-item>
      <ion-label class="textdisable" position="relative">Nombre: &nbsp;</ion-label>
      <ion-input label="Nombre" disabled>{{uid.nombre}}</ion-input>
      <ion-buttons slot="end" color="primary" (click)="alerta('Nombre')">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label class="textdisable" position="relative">Apellido: &nbsp;</ion-label>
      <ion-input label="Apellido" disabled>{{uid.apellido}}</ion-input>
      <ion-buttons slot="end" color=primary (click)="alerta('Apellido')">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label class="textdisable" position="relative">Contraseña:</ion-label>
      <ion-input label="Contraseña" disabled></ion-input>
      <ion-buttons slot="end" color=primary (click)="Irpagepass()">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
  </div>
</ion-content>