<ion-content class="fondo" [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-button class="curso-button" expand="block" (click)="abrirModal()">Crear un Curso</ion-button>
  <div *ngFor="let curso of Listacursos">
    <a>{{curso.establecimiento}}</a>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="Contenidos">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Contenidos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Cursos" (click)="IraCursos()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Perfil" (click)="IraPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>