@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

/*Empieza el contenido principal de la pagina*/
.fondo {
  --background: var(--blanco);

  ion-toolbar {
    --background: var(--blanco);

    .back-icon {
      height: 30px;
      width: 30px;
      margin-bottom: 20px;
      color: var(--azul);
    }
  }

  .curso-button {
    --background: var(--azul);
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: bold;
    color: var(--blanco);
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  ion-card {
    --background: var(--azul);

    ion-card-header {

      .Title,
      .sub {
        font-family: 'Ysabeau Office', sans-serif;
        font-weight: bold;
        color: var(--blanco);
      }
    }

    .list-card {
      padding-top: 0px;
      padding-bottom: 0px;
      --background: var(--blanco);

      ion-item {
        --background: var(--azul);

        ion-input {
          font-family: 'Ysabeau Office', sans-serif;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          font-weight: bold;
          color: var(--blanco);
        }
        ion-button {
          --background: var(--azul);
          font-family: 'Ysabeau Office', sans-serif;
          font-weight: bold;
          color: var(--blanco);
        }
      }
    }
  }



}