.fondo {
    --background: var(--blanco);

    ion-toolbar {
        --background: var(--blanco);

        .back-icon {
            height: 30px;
            width: 30px;
            margin-bottom: 20px;
            color: var(--azul);
        }
    }

    .cardi {
        --background: var(--azul);
        ion-card-header {
            .Title,
            .sub {
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
            }
        }
        .content{
            font-family: 'Ysabeau Office', sans-serif;
            font-weight: bold;
            color: var(--blanco);
        }

    }
}