@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo{
    --background: var(--blanco);
    background-size: cover;
    ion-text.top-left-text{
        font-family: 'Ysabeau Office', sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 50px;
        font-weight: bold;
        color: var(--azul);
        display: flex;
        justify-content: center;
        height:50%;        
    }
    .content{
        margin-top: 50px;
        margin-right: 70px;
        margin-left: 70px;
        ion-input{
            font-family: 'Ysabeau Office', sans-serif;
            margin:7px;
            font-weight: bold;
            color: var(--azul);
        }
        ion-select{
            font-family: 'Ysabeau Office', sans-serif;
            margin: 7px;
            font-weight: bold;
            color: var(--azul);
            ion-select-option{
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--azul);
            }
        }
    }
    .bottom-button{
        --background: var(--azul);
        font-family: 'Ysabeau Office', sans-serif;
        font-weight: bold;
        color: var(--blanco);
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

  }


