<ion-content [fullscreen] class="fondo">
  <div>
    <ion-text class="top-left-text">
      Registro
    </ion-text>
  </div>
  <div class="content">
    <ion-input label="Nombre" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="newUserFields.Name"></ion-input>
    <ion-input label="Apellido" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="newUserFields.Surname"></ion-input>
    <ion-input label="Email" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="newUserFields.Email"></ion-input>
    <ion-input label="Contrasena" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="newUserFields.Password"></ion-input>
    <ion-input label="Confirme su contrasena" label-placement="end" fill="outline" placeholder="Enter text" [(ngModel)]="newUserFields.ConfirmPassword"></ion-input>
    <ion-select label="Elegir Usuario" label-placement="end" fill="outline" [(ngModel)]="newUserFields.TypeUser">
      <ion-select-option value="1">Alumno</ion-select-option>
      <ion-select-option value="2">Profesor</ion-select-option>
    </ion-select>
  </div>
  <ion-button class="bottom-button" expand="block" (click)="CreateUser()">Registrarme</ion-button>
</ion-content>
