<ion-content [fullscreen] class="fondo">
  <div>
    <ion-text class="top-left-text">
      Registro
    </ion-text>
  </div>
  <div class="content">
    <ion-input class="inputL" label="Nombre" placeholder="Nombre"  [(ngModel)]="newUserFields.Name"></ion-input>
    <ion-input class="inputL" label="Apellido" placeholder="Apellido" [(ngModel)]="newUserFields.Surname"></ion-input>
    <ion-input class="inputL" label="Email input" type="email" placeholder="email@domain.com" [(ngModel)]="newUserFields.Email"></ion-input>
    <ion-input class="inputL" label="Password input" type="password" value="password" [(ngModel)]="newUserFields.Password"></ion-input>
    <ion-input class="inputL" label="Repetir Password" type="password" value="password" [(ngModel)]="newUserFields.ConfirmPassword"></ion-input>
      <ion-select label="Eleccion de usuario" [(ngModel)]="newUserFields.TypeUser">
        <ion-select-option value="Alumno">Alumno</ion-select-option>
        <ion-select-option value="Profesor">Profesor</ion-select-option>
      </ion-select>
    <ion-button class="bottom-button" expand="block" (click)="CreateUser()">Registrarme</ion-button>
  </div>
</ion-content>
