@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo{
    --background: var(--blanco);
    ion-toolbar{
        --background: var(--blanco);
        .back-icon{
            height: 30px;
            width: 30px;
            margin-bottom: 20px;
            color: var(--azul);
        }
        .Title-card{
            color: var(--azul);
            text-align: center;
            font-family: 'Ysabeau Office', sans-serif;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: 30px;
            margin-top: 10%;
            margin-left: 20%;
            text-align: center;
        }
    
    }      
    .Card-list{
        margin-top:40%;
        .list-card{
            padding-top: 0px;
            padding-bottom: 0px;
            --background: var(--blanco);
            ion-item{
                --background: var(--blanco);
                ion-icon{
                    color: var(--azul);
                }
                ion-label{
                    font-family: 'Ysabeau Office', sans-serif;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    font-weight: bold;
                    color: var(--azul);
                }
            }
        }
    }
}


ion-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
    ion-toolbar{
        padding-top: 20px;
        --background: transparent;
        --ion-color-base: transparent !important;
      ion-icon{
        color:var(--azul);
        size: 40px;
        font-size: 20px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }
      ion-label{
        font-weight: bold;
        color: var(--azul);
        font-family: 'Ysabeau Office', sans-serif;
        font-size: 12px;
        text-transform: none;
      }
    }
}
