<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-card class="Card-Profile">
    <ion-avatar *ngIf="image">
      <img [src]="image"/>
    </ion-avatar>
    <ion-card-title class="Title-card">Hola {{uid.nombre}} {{uid.apellido}}</ion-card-title>
  </ion-card>
  <ion-card class="Card-list">
    <ion-list class="list-card">
      <ion-item>
        <ion-label>Calendario de Clases</ion-label>
        <ion-icon (click)="IraCaCla()" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Calendario de Evaluaciones</ion-label>
        <ion-icon (click)="IraCalev()" name="calendar-number-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Mis Notas</ion-label>
        <ion-icon name="school-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Modificar Perfil</ion-label>
        <ion-icon (click)="IraMod()" name="pencil-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Tomar/Elegir imagen</ion-label>
        <ion-icon (click)="TakeImage()" name="camera-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Cerrar Sesion</ion-label>
        <ion-icon (click)="logout()" name="power-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment scrollable="true" >     
      <ion-segment-button value="Principal">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Cursos" (click)="IraCursos()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
