<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="Card-top" >

    <div *ngIf="uid?.tipo === 1"> <!-- Administrador -->
      <p>¡Bienvenido Administrador!</p>
    </div>
    
    <div *ngIf="uid?.tipo === 2"> <!-- Profesor -->
      <p>¡Bienvenido Profesor!</p>
    </div>
    
    <div *ngIf="uid?.tipo === 3"> <!-- Alumno -->
      <p>¡Bienvenido Alumno!</p>
    </div>
  </ion-card>
  <ion-card class="Card-in">
    <ion-text class="Title-card">{{uid?.nombre}} {{uid?.apellido}}</ion-text>
  </ion-card>
  <ion-card class="Card-list">
    <ion-list class="list-card" lines="none">
      <ion-item>
        <ion-label>Calendario de Clases</ion-label>
        <ion-icon (click)="IraCaCla()" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Calendario de Evaluaciones</ion-label>
        <ion-icon (click)="IraCalev()" name="calendar-number-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label (click)="IraMisNotas()">Mis Notas</ion-label>
        <ion-icon name="school-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Modificar Perfil</ion-label>
        <ion-icon (click)="IraMod()" name="pencil-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Cerrar Sesion</ion-label>
        <ion-icon (click)="logout()" name="power-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment scrollable="true" >     
      <ion-segment-button value="Principal" (click)="IraHome()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Cursos" (click)="IraCursos()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
