<ion-content class="content" [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" style="color:var(--azul)">
        <ion-back-button defaultHref="/perfil-profe"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list class="list-card" *ngFor="let items of uid">
    <ion-item detail>
      <ion-label>
          <ion-text>{{items.nombre}} {{items.apellido}} {{items.tipo}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>