<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline"
          class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ng-container *ngFor="let items of nta">
      <ion-card class="cardna" *ngIf="items.Alumnos == modalInfo.Alumno">
        <ion-text>Nota:{{items.nota}}</ion-text>
        <ion-button class="bottom-button" expand="block" (click)="IraRecursos(items)">Mejorar mi Nota</ion-button>
      </ion-card>

    </ng-container>
</ion-content>