<ion-content class="fondo" [fullscreen]="true">
 
  <div cards>
    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <p>Asistencia</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <p>Cualquier wea</p>
          </ion-card>
        </ion-col>
        <ion-col class="col-bot">
          <ion-card>
            <p>Notas</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="Contenidos">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Contenidos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Cursos" (click)="IraCursos()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Chat"(click)="IraChat()" >
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-segment-button>
     
      <ion-segment-button value="Perfil"(click)="IraPerfil()" >
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-footer>
