<ion-content class="content" [fullscreen]="true">
  hola alumno
</ion-content>
<ion-footer class="ion-no-border" transparent>
  <ion-toolbar class="toolbar" >
    <ion-segment scrollable="true" value="nose">      
      <ion-segment-button class="button" value="Contenidos">
        <ion-icon class="icon" name="book-outline"></ion-icon>
        <ion-label>Contenidos</ion-label>
      </ion-segment-button>

      <ion-segment-button class="button" value="Cursos">
        <ion-icon class="icon" name="briefcase-outline"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-segment-button>

      <ion-segment-button class="button" value="Perfil">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>