<ion-content class="fondoM">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons>
        <ion-icon defaulthref="/prom-notas" (click)="volver" name="chevron-back-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="div-text">
    <ion-text class="top-left-text">
      Ingresa los datos para promediar tu Nota
    </ion-text>
  </div>
  <div class="content">
    <ion-input label="Ingresa promedio esperado" label-placement="start" fill="outline" expand="block"></ion-input>
    <ion-input label="Ingresa cualquier cosa" label-placement="start" fill="outline" expand="block"></ion-input>
    <ion-input label="input en progreso xd" label-placement="start" fill="outline" expand="block"></ion-input>
  </div>
  <div>
    <ion-button class="gen-prom">Generar Promedio esperado</ion-button>
  </div>
</ion-content>
