<ion-content class="fondoM">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons (click)="volver()">
        <ion-icon  name="chevron-back-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="div-text">
    <ion-text class="top-left-text">
      Ingresa los datos para promediar tu Nota
    </ion-text>
  </div>
  <div class="content">
    <ion-input label="Ingresa nota1" label-placement="start" fill="outline" expand="block" [(ngModel)]="notas.nota1" type="number"></ion-input>
    <ion-input label="Ingresa nota2" label-placement="start" fill="outline" expand="block" [(ngModel)]="notas.nota2" type="number"></ion-input>
    <ion-input label="Ingresa nota3" label-placement="start" fill="outline" expand="block" [(ngModel)]="notas.nota3" type="number"></ion-input>
    <ion-input label="Ingresa nota4" label-placement="start" fill="outline" expand="block" [(ngModel)]="notas.nota4" type="number"></ion-input>
  </div>
  <div>
    <ion-button class="gen-prom" (click)="calcularPromedio()">Generar Promedio esperado</ion-button>
  </div> 
  <div>
    <ion-label class="prom-nota-text">Su promedio es:{{ promedio }} </ion-label>
  </div>
</ion-content>
