<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline"
          class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ng-container *ngFor="let items of ev">
      <ion-card class="cardna" *ngIf="items.curso == modalInfo.idCurso">
        <ion-text>{{items.fecha}}</ion-text>
      </ion-card>
    </ng-container>
</ion-content>