@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo {
    --background: var(--blanco);
    ion-toolbar{
      --background: var(--blanco);
      .back-icon{
        height: 30px;
        width: 30px;
        margin-bottom: 20px;
        color: var(--azul);
    }
    }

    ion-grid{
      ion-row{
        ion-col{
          margin-top: 30px;
          .cardna{
            height: 130%;
            --background: var(--azul);
            div{
              margin-top: 15px;
              margin-left: 50px;
              ion-icon{
                margin-top:30px; 
                height:50px;
                width: 40px;
                color: var(--blanco);
              }
            
            }
            .divi{
              margin-top: 15px;
              margin-left: 137px;
            }
          }
        }
      }

    }
  }
