<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons>
        <ion-icon defaultHref="/" (click)="volver()" name="chevron-back-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ion-card class="Title">
      <ion-card-header>
        <ion-card-title class="Title-Card">dsgagda</ion-card-title>
        <ion-card-subtitle class="sub">fdsfafsa</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
</ion-content>
