<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
    <ion-card class="Title" *ngFor="let alc of listaCursos" (click)="abrirModalP(alc)">
      <ion-card-header>
        <ion-card-title class="Title-Card">{{alc.sigla}}</ion-card-title>
        <ion-card-subtitle class="sub">{{alc.ramo}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="Perfil" (click)="IraPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>