@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');
.fondo {
    --background: var(--blanco);
    ion-toolbar{
        --background: var(--blanco);
        .back-icon{
          height: 30px;
          width: 30px;
          margin-bottom: 20px;
          color: var(--azul);
      }
    }
    .Card-list{
        margin-top:10%;
        --background: var(--azul);
        .texto{
            margin-top: 20%;
            font-family: 'Ysabeau Office', sans-serif;
            color: var(--blanco);
            font-size: 20px;
        }
        .icono{
            margin-top: 15%;
            margin-left: 40%;
            height: 30px;
            width: 30px;
            color:var(--blanco);
        }
    }

  }


