<ion-content class="fondoM">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="div-text">
    <ion-text class="top-left-text">
      Ingresa los datos del curso que deseas crear
    </ion-text>
  </div>
  <div class="content">
    <ion-input label="Sigla de curso" label-placement="start" fill="outline" [(ngModel)]="Curso.Sigla"></ion-input>
    <ion-input label="Ramo" label-placement="start" fill="outline" [(ngModel)]="Curso.Ramo"></ion-input>
    <ion-input label="Establecimiento" label-placement="start" fill="outline" [(ngModel)]="Curso.Establecimiento"></ion-input>
    <ion-button class="bottom-button" expand="block" (click)="CrearCursito()">Crear</ion-button>
  </div>
</ion-content>