<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cardna" (click)="abrirModalInfoCurso(modalInfo)">
    <ion-text  >Agregar Alumnos al curso : {{modalInfo.siglaCurso}} de {{modalInfo.ramoCurso}}</ion-text> 
  </ion-card>
  <ion-card class="cardna" (click)="abrirModalgradesCurso(modalInfo)">
    <ion-text >Evaluar Alumnos del curso : {{modalInfo.siglaCurso}} de {{modalInfo.ramoCurso}}</ion-text> 
  </ion-card>
</ion-content>
