@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200&display=swap');

.fondo {
    --background: var(--blanco);
    ion-toolbar{
      --background: var(--blanco);
      .back-icon{
        height: 30px;
        width: 30px;
        margin-bottom: 20px;
        color: var(--azul);
    }
    }

    ion-grid{
      ion-row{
        ion-col{
          margin-top: 30px;
          .cardna{
            height: 100%;
            --background: var(--azul);
            div{
              margin-left: 35%;
              ion-icon{
                margin-top:30px; 
                height:50px;
                width: 40px;
                color: var(--blanco);
              }
            }
            .dival{
              margin-left: 11%;
              ion-text{
                font-size: 15px;
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
              }
            }
            .divte{
              margin-left: 32%;
              ion-text{
                font-size: 15px;
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
              }
            }
            .divtet{
              margin-left: 23%;
              ion-text{
                font-size: 15px;
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
              }
            }
            .divt{
              margin-left: 20%;
              ion-text{
                font-size: 15px;
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
              }
            }
            .divi{
              margin-top: 8px;
              margin-left: 44%;
            }
            .divtete{
              margin-left: 29%;
              ion-text{
                font-size: 15px;
                font-family: 'Ysabeau Office', sans-serif;
                font-weight: bold;
                color: var(--blanco);
              }
            }

          }
        }
      }

    }
  }