<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="cardna">
    <ion-text style="color: #fff;" (click)="abrirModalInfoCurso(modalInfo)">Agregar Alumnos al curso : {{modalInfo.siglaCurso}}</ion-text> 
  </ion-card>
</ion-content>
