<ion-content [fullscreen]="true" class="fondo">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon defaultHref="/cursos-profe" (click)="volver()" name="chevron-down-outline" class="back-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">        
        <ion-card class="cardna" (click)="abrirModalInfoCurso(modalInfo)">
          <div><ion-icon name="add-circle-outline"></ion-icon></div>
      </ion-card>
    </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="cardna" (click)="abrirModalgradesCurso(modalInfo)">
          <div><ion-icon name="stats-chart-outline"></ion-icon></div>
        </ion-card> 
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="cardna" (click)="abrirModalNE(modalInfo)">
          <div><ion-icon name="calendar-outline"></ion-icon></div>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="cardna" (click)="abrirchat(modalInfo)">
          <div><ion-icon name="chatbubble-ellipses-outline"></ion-icon></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>